* {
  box-sizing: border-box;
}

.About {
  font-family: Karla, sans-serif;
  background-color: #ededed;
}

.desc {
  color: black;
  font-size: 1.5vw;
  text-align: left;
  padding: 4vw;
  margin-top: 2vw;
}

[class*='col-'] {
  float: left;
  display: table-cell;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.col-6-4 {
  width: 55%;
  /*flex-wrap: wrap;*/
  -ms-flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}


.col-4-6 {
  width: 45%;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

@media only screen and (max-width: 800px) {
    [class*='col-']  {
        display: block;
        width: 100%;
    }
}

.grid {
    display: table;
    width: 100%;
}

/* .grid:after {
  content: "";
  display: table;
  clear: both;
} */

.responsive {
    max-width: 100%;
    height: auto;
}
