.Projects {
  /* background-color: #; */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.text-dec {
  font-family: Karla, sans-serif;
  font-weight: bold;
}

.text-dec-description {
  font-family: Karla, sans-serif;

}

@media (max-width: 800px) {
  .flex-grid {
    display: block;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .col {
    flex: 1;
    margin: 10px;
    max-width: 100%;
  }
}

.item {
  position: relative;
   max-width: 100%;
   margin: 10px;
}

.item-text {
    white-space: nowrap;
    color: black;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.item:hover .overlay {
  bottom: 0;
  height: 100%;
}

.section {
  padding: 25px;
}

.flex-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.thumbnail {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #f4fcff;
  opacity: .9;
  overflow: hidden;
  height:0;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
}
