p {
  font-family: 'Segoe UI', sans-serif;
  font-size: 14px;
}

h2 {
  font-family: 'Josefin Sans';
  font-size: 42px;
  font-weight: 600;
}

h3 {
  margin: 0;
  font-family: 'Josefin Sans';
  font-size: 32px;
  font-weight: 300;
}

h4 {
  margin: 0;
  font-family: 'Josefin Sans';
  font-size: 20px;
  font-weight: 500;
}

h5 {
  margin: 0;
  font-family: 'Karla';
  font-size: 18px;
  font-weight: 400;
}

.blue-text {
  color: darkslategray;
}

.center {
  text-align: center;
}

.dark-blue-bg {
  background-color: #162B4A;
}

.bold {
  font-weight: 600;
}

.extra-bold {
  font-weight: 700;
}

.white-text {
  color: white;
}

.dark-blue-text {
  color: #162B4A;
}

.vibrant-blue-text {
  color: #02bdd5;
}

.light-blue-text {
  color: rgba(237, 237, 240, 0.47);
}

.typewriter {
  background-color: white;
  color: #02bdd5;
  padding: 8px;
  margin-left: 16px;
}