.Welcome {
  /* text-align: center; */
}

.hello {
  display: flex;
  flex: 1;
}

.hello-row {
  display: flex;
  flex-direction: row;
}

.hello-column {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #ededed;
}

.hello-text {
  font-family: karla;
  font-size: 2vw;
}

.big-hello-text {
  font-family: karla;
  font-size: 3vw;
  font-weight: bold;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.grid {
  display: table;
  width: 100%;
}

.Welcome-header {
  /* background-color: #f4fcff; */
  padding: 10%;
  margin: 30px;
  height: 25vw;
  color: black;
  /* text-align: center; */
}

.hello-header {
  display: flex;
  flex: 2;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 5%;
  height: 25vw;
  margin: 10px;
}

.Intro {
  font-size: 3vw;
  font-family: Karla, sans-serif;
  font-weight: 200px;
}

.intro-types {
  /* animation-name: change-text;
  animation-duration: infinite; */
  font-size: 2vw;
  font-weight: 100px;
  font-kerning: auto;
  font-family: karla, sans-serif;
}

.Social-media {
  margin: 20px;
  /* height: 2vw; */
  flex-direction: row;
  text-align: center;
}
