.sidenav {
	display: flex;
	flex-direction: column;
	height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px;
	z-index: 1;
	position: fixed;
}

.sidenav a {
	text-align: right;
	text-decoration: none;
	margin-bottom: 8px;
}

.semibold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.heroImg {
	/* max-height: 300px; */
	/* height: 100px; */
	width: 100%;
	margin-bottom: 24px;
	/* width: 100%; */
}

.bigTitle {
	font-size: 2.5rem;
	line-height: 2.75rem;
	font-family: Petrona;
	font-style: normal;
	font-weight: 500;
	color: black;
}

/* rename this to something that makes more sense  */
subtitle {
	font-size: 20px;
	line-height: 32px;
	font-family: Barlow;
	font-style: normal;
	color:black;
}

description {
	font-size: 16px;
	line-height: 20px;
	font-family: Barlow;
	font-style: normal;
	color:black;
}

.root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	font-size: 24px;
	line-height: 36px;
	font-weight: 800;
	font-family: Barlow;
	font-style: normal;
	color:black;
}

sectionTitle {
	font-size: 1.75rem;
	line-height: 2.25;
	font-weight: 600;
	font-family: Barlow;
	font-style: normal;
	color:black;
}

/* p {
	font-size: 18px;
	line-height: 28px;
} */

section {
	margin-top: 32px;	
}

row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

column {
	display: flex;
	flex-direction: column;
}

.contentContainer {
	background-color: #fff5ee;
	/* background-color: #FFFCFB; */
	padding: 100px;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	max-width: 100%;
}

@media screen and (max-width: 770px) {
	.contentContainer {
		padding: 64px 48px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	/* will need to add media queries to this */
	/* took this out because I took out the side nav for now */
	/* padding-left: 200px; */
	position: relative;
	height: 100%;
	overflow: auto;
}

/* basic information */

.projectInformation {
	margin-top: 48px;
	display: flex;
	flex-direction: row;
	text-align: left;
	justify-content: space-between;
}

.infoTitle {
	font-weight: 600;
	font-family: Barlow;
	text-align: left;
	font-size: 14px;
}
/* 
.infoDetail {
	font-weight: 500;
	font-family: Barlow;
	font-size: 20px;
} */

/* possible pale red: e05748 */

/* research section */

.dataCollab {
	/* max-width: 500px; */
	align-self: center;
	justify-content: space-around;
}

.emoji {
	font-size: 72px;
	text-align: left;
	align-self: flex-end;
}

.strike {
	text-decoration: line-through;
}

.themes {
	background-color:white;
	justify-content: space-between;
	padding: 24px 48px;
	/* background-color: ; */
}

.logo {
	flex: 1;
	padding: 16px;
	width: 180px;
}

.timeline {
	padding: 16;
	width: 400px;
	/* max-height: 200px; */
}

/* design & solution section */

.wireframe {
	width: 100%;
	max-height: 600px;
}

.loginFlow {
	width: 50%;
	height: auto;
}

.appFlow {
	/* width: 900px; */
	width: 100%;
	max-height: 700px;
}

.appFlowTitle {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

bigInsight {
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
	font-family: Barlow;
	font-style: normal;
	color:black;
}

.insightContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 24px;
	padding-right: 24px;
}

.userQuote {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	/* justify-content: center; */
	background-color: #ffe9b44f;
	/* background-color: #ffe9b4; */
	padding: 24px;
	border-radius: 4px;
}

.quoteRow {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

@media screen and (min-width: 760px) {
	.userQuote {
		max-width: 250px;
	}
}

@media screen and (max-width: 425px) {
	.quoteRow {
		display: flex;
		flex-direction: column;
	}

	.contentContainer {
		padding: 64px 24px;
	}
}


.competitor {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: space-between;
	padding: 16px 16px 24px;
}

.competitonInfo {
	flex: 1;
	align-items: flex-start;
	margin-left: 8px;
	padding: 16px;
	border-radius: 4px;
	height: 100%;
	background-color: #ffe9b44f;
}