.bar {
  width: 100%;
  color: white;
  background-color: #DB454F;
  height: 64px;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  position: sticky;
}